<div class="learn-wrapper">
  <div class="menu-container">
    <app-menu [records]="(data | async)?.records ?? []"></app-menu>
  </div>
  <div class="wrapper">
    <div class="navigation">
      <a class="navigation-link" [routerLink]="['/']">Home</a>
      <a class="navigation-link" [routerLink]="['/learn']">Categories</a>
    </div>
    <div
      class="accordion-wrapper"
      *ngFor="let record of (data | async)?.records">
      <app-accordion [record]="record"></app-accordion>
    </div>
    <div class="message-wrapper" *ngIf="(data | async)?.records?.length === 0">
      <span class="message-text"> No questions to display! </span>
      <a class="message-link button-global" [routerLink]="'/learn'">Go back</a>
    </div>
  </div>
</div>
