.accordion-container {
  background-color: var(--background-element-color);
	margin: 1rem;
	border-radius: var(--rounded);
	padding: 1rem;
  
}

.accordion-title {
	border: none;
  background-color: transparent;
	color: var(--font-color);
	font-size: 1.3rem;
	cursor: pointer;
  position: relative;
	width: 100%;
}

.accordion-title p {
	text-align: left;
}

.accordion-title span {
	font-size: 1rem;
}

.accordion-title span:hover {
	opacity: 0.7;
}

.accordion-body {
	height: 0;
  overflow: hidden;
	/* padding: 1rem; */
}

.accordion-body.show {
	/* padding: 1rem; */
	margin-top: 1rem;
	height: 100%;
	overflow: auto;
}

.accordion-text {
	margin-top: 1rem;
}