.accordion-container {
  background-color: var(--background-element-color);
	margin: 1rem;
	border-radius: var(--rounded);
	padding: 1rem;
	max-width: 75rem;
}

.accordion-title {
	color: var(--font-color);
	font-size: 1.3rem;
}

.accordion-expand-btn {
	margin-top: 2rem;
	border: none;
	background-color: var(--background-button-color);
	padding: 0.5rem;
	border-radius: var(--rounded);
	color: var(--font-color);
	cursor: pointer;
	font-size: 0.9rem;
	transition: opacity .2s ease-out;
}


.accordion-expand-btn:hover {
	opacity: 0.7;
}

.accordion-body {
	height: 0;
  overflow: hidden;
}

.accordion-body.show {
	margin-top: 1rem;
	height: 100%;
	overflow: auto;
}

.accordion-text {
	margin-top: 1rem;
}

.accordion-text:last-child {
	margin-bottom: 1rem;
}

.markdown ::ng-deep p {
	letter-spacing: 0.05rem;
	margin-top: 2rem;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
}

.markdown ::ng-deep h2 {
	margin: 2rem 0;
	font-size: 1.65rem;
}

.markdown ::ng-deep a {
	color: var(--font-color);
}

@media (min-width: 1280px) {
	.accordion-title {
		font-size: 1.8rem;
	}

	.accordion-text {
		font-size: 1.2rem;
		letter-spacing: 0.05rem;
		margin-top: 2rem;
	}

	.accordion-expand-btn {
		font-size: 1rem;
	}
}