<div class="learn-wrapper">
  <div class="menu-container">
    <app-menu [records]="(filteredData$ | async) ?? []"></app-menu>
  </div>
  <div class="wrapper">
    <div class="navigation">
      <a class="navigation-link" [routerLink]="['/']">Home</a>
      <a class="navigation-link" [routerLink]="['/', 'articles']">Articles</a>
      <select
        class="select"
        (change)="onSelect()"
        [(ngModel)]="selectedCategory">
        <option default value="all">All</option>
        <option *ngFor="let item of (records$ | async) ?? [] | getCategories">
          {{ item }}
        </option>
      </select>
    </div>
    <div class="accordion-wrapper" *ngFor="let record of filteredData$ | async">
      <app-accordion [record]="record"></app-accordion>
    </div>
    <div class="message-wrapper" *ngIf="(filteredData$ | async)?.length === 0">
      <span class="message-text">No questions to display!</span>
    </div>
  </div>
</div>
