.main {
	margin-top: 5rem;
	width: 100%;
	max-width: 1200px;
	margin-left: auto; 
	margin-right: auto; 
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
	max-width: 50rem;
}

.link {
	font-size: 1.5rem;
	padding: 2rem 0;
	border-radius: var(--rounded);
	background-color: var(--text-color);
	color: var(--background-color);
	border: none;
	cursor: pointer;
	text-align: center;
}