.link {
	font-size: 1.5rem;
	padding: 2rem;
	border-radius: var(--rounded);
	background-color: var(--text-color);
	color: var(--background-color);
	border: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

.button-wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
	max-width: 50rem;
}
